$ashGray: #acbdba;
$gainsboro: #CDDDDD;
$glossyGrape: #A599B5;
$jet: #2E2F2F;
$richBlack: #051014;

.Header {
    width: 102%;
    background-color: $jet;
    margin: -1.5%;
    margin-bottom: 2%;
    padding-top: 0.4%;
    padding-bottom: 0.01%;
    color: $gainsboro;
    text-align: center;
    font-size: 150%;

    img {
        width: 2%;
        height: 2%;
    }
}

body {
    background-color: $ashGray;
}