.localtrash {
    background-color: rgba(136, 203, 255, 0.853);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 25px;
    border-radius: 25px;
    width: 700;
    height: fit-content;
}

.localtrash img {
    margin-top: 20px;
    margin-left: 1px;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
}

.writing {
    padding-top: 20px;
    margin-right: 370px;
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

.writing h1 {
    font-size: xx-large;
}

.writing p {
    font-size: larger;
}